html{
    background:linear-gradient(rgb(1, 1, 36) 30%,rgb(207, 196, 207) 70%) ;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 150vh;
}
p{
    color: rgb(5, 4, 1);
    font-family:cursive; 
    font-style:oblique;
    font-weight: 900;
    font-size: xx-large;
    text-align:right;
}
h1{
    text-align: center;
    color: wheat;
    font-family:cursive; 
    font-style: italic;
    font-weight: 900;
    font-size: xx-large;
}
button{
    font-size: x-large;
    font-style: italic;
    border-radius: 10px;
    background-color: darkslategray;
    font-family: cursive;
    width: 150px;
    height: 45px;
    font-weight: 900;    
    cursor: pointer;

}
      
     
.flex-containers{
    background-color:lightcoral;
    width: 800px;
    height: 800px;
    border-radius: 20px ;
    border: 5px solid none;
    height: 580px;
    padding: 25px;
    box-shadow: 0 0 10px;
    
    
}
img{
    height: 40px;
    width:80px;
    background-size: cover;
    border-radius: 10px;
   
}
.boxes, .box, .flexbox{
    display: flex;
    align-items: center;
    justify-content: center;

}
.boxes{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxes .box {
    position: relative;
    perspective: 800px;
    transform-style: flat;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    cursor: pointer;
}
.boxes .box .flexbox{
    position: absolute;
    width: 150px;
    height: 150px;
    backface-visibility: hidden;
    background: linear-gradient(rgb(134, 58, 105),rgb(19, 5, 7));
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    margin-left: -75px;
    margin-bottom: 30px;
    transition:transform 0.30s linear;

}
.box .back img{
    height: 50px;
}
.box .back{
    transform:rotateY(-180deg) ;
}
.box.flip .front{
    transform: rotateY(180deg);
}

.box.flip .back{
    transform: rotateY(0);
}
#game-result {
    display: none;
  }
  
  #game-result.show {
    display: block;
  }

.shake {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  .pulse {
    animation: pulse 0.5s;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }





