.flex-containers{
    display: flex;
    background: linear-gradient(pink,purple);
    width: 700px;
    border-radius: 10px ;
    border: 10px solid black;
    height: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.flex-box{
    width: 150px;
    height: 150px;
    background-color: rgb(17, 17, 16);
    line-height: 200px;
    margin:10px;
    text-align: center;
    border-radius: 20px;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   
}


